.grid {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  border: 2px solid;
  width: 456px;
  margin: 0 auto;
}

.line {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background-color: lightyellow;
}

.line:nth-child(even) .cel:nth-child(even) {
  background-color: lightblue;
}

.line:nth-child(odd) .cel:nth-child(odd) {
  background-color: lightblue;
}

.line:nth-child(3n):not(:last-child) {
  border-bottom: 2px solid;
}

.cel:nth-child(3n):not(:last-child) {
  border-right: 2px solid;
}

input {
  width: 32px;
  height: 32px;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
  text-align: center;
  background-color: transparent;
}

button {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 2rem;
  margin-right: 1rem;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: white;
  background-color: darkblue;
  cursor: pointer;
  transition: 300ms;
}

button:hover {
  color: black;
  background-color: lightblue;
}